.signInButton {
  color: var(--color2);
  margin-right: 20px;
  border: 2px solid var(--color2);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.signInButton:hover {
  color: var(--color1);
  background-color: var(--color2);
}

.profile {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 25px;
}

.profile > img {
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color2);
}

.profile > img:hover {
  box-shadow: 0 0 5px var(--color2);
}

.profileDetails {
  text-align: center;
  width: 250px;
  height: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.logoutButton {
  /* font-size: 18px; */
  width: 60%;
  font-weight: 500;
  padding: 8px 15px;
  color: white;
  background-color: #fd5757;
  border-radius: 12px;
  margin: 10px 0 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}
