.dialogContent {
  background: var(--gradient);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  border-top: 2px solid var(--color2);
}

.dialogContent > .dialogTitle {
  color: var(--color2);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.dialogContent > .googleSignIn {
  overflow: hidden;
  object-fit: cover;
  color: var(--background);
  border: 2px solid var(--background);
  height: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 18px;
}

.googleSignIn > img {
  padding: 8px;
}

.googleSignIn:hover {
  color: white;
  background-color: #1a73e8;
  border: 2px solid #1a73e8;
  cursor: pointer;
  font-weight: 600;
}

.googleSignIn:hover > img {
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}
