.navBar {
  color: var(--background);
  background-color: rgb(17, 26, 46);
  transition: transform 0.3s, opacity 0.3s;
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgb(24, 36, 64);
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
}

.logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo img {
  width: 120px;
}

.title {
  text-align: center;
  color: var(--color2);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.icon {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 50px;
  color: var(--color1-extralight);
  cursor: pointer;
}

.icon:hover {
  font-weight: 600;
}

.icon > img {
  filter: invert(100%);
  opacity: 0.8;
}
