.formContainer {
  height: fit-content;
  width: 400px;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 1px solid var(--color1-light);

  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;

  margin: 50px 0px;
}

.title {
  color: var(--color2);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0px;
  margin-bottom: 40px;
}

.formContainer form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.focusedInput {
  color: white;
}

.passwordContainer {
  width: 100%;
  position: relative;
}

.eye {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  color: var(--background);
  margin-right: 15px;
}

.passwordContainer input[type="text"],
.passwordContainer input[type="password"] {
  padding-right: 50px;
}

.submitButton {
  width: 100%;
  background-color: rgb(20, 33, 61, 0.4);
  color: var(--color2);
  padding: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--color2);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: var(--color2);
  color: var(--color1);
  box-shadow: 0 12px 12px 0 rgba(43, 43, 43, 0.5);
}

.submitButton:focus {
  background-color: var(--color2);
  color: var(--color1);
}
