.signInButton {
  color: var(--color2);
  margin-right: 20px;
  border: 2px solid var(--color2);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.signInButton:hover {
  color: var(--color1);
  background-color: var(--color2);
}

.profile {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 25px;
}

.profile > img {
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color2);
  height: 50px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.profile > img:hover {
  box-shadow: 0 0 5px var(--color2);
}
